


.btn-update-submit {
    margin-top: 50px;
    margin-left: 90px;
  backface-visibility: hidden;
  background: #14bc08;
  border: 0;
  border-radius: .375rem;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,Helvetica,sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: 1rem 1.25rem;
  position: relative;
  text-align: left;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-update-submit {
    color: #fff;
  cursor: auto;
}

.btn-update-submit:not(:disabled):hover {
  transform: scale(1.05);
}

.btn-update-submit:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

.btn-update-submit:focus {
  outline: 0 solid transparent;
}

.btn-update-submit:focus:before {
  border-width: .125rem;
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

.btn-update-submit:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

.btn-update-submit:not(:disabled):active {
  transform: translateY(.125rem);
}






.btn-update-cancel {
    /* margin-left: 1300px; */
    margin-bottom: 4px;
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 18.5px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}


.btn-update-cancel:hover,
.btn-update-cancel:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
}

.btn-update-cancel:active {
    opacity: .5;
}



.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root{
    margin-left: 82px;
    margin-top: 40px;
}
